{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner-category">
        <img class="d-block w-100" src="https://i.postimg.cc/T2CMZyV2/Webp-net-resizeimage-1.jpg" alt="">
        <h1 class="centered">{{ category.name }}</h1>
    </div>
    <div class="container mt-5">
        <div class="row no-gutters subCateg-content">
            {% for subCateg in subCategories %}
                <a href="{{ path('subCategory_index', {'id': subCateg.id}) }}" class="subCateg mb-5">
                    <div class="card card-product " style="width: 18rem;">
                        <img src="{{ subCateg.image }}" class="card-img-top card-product-image" alt="...">
                        <div class="card-body card-body-product my-2">
                            <h5 class="card-title text-center">{{ subCateg.name }}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}