body {
    font-family: 'Montserrat', sans-serif;
}

.main {
    min-height: calc(100vh - 63px - 150px);
    padding-top: 63px;
}

.nav-fix {
    position: fixed;
    width: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .03);
    z-index: 9000;
}

.logo {
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    width: 200px;
    padding: 5px 50px 5px 20px;
    color: #3f4549;

}

.dropdown-content a:hover {
    background-color: rgba(63, 69, 73, 0.1);
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-user {
    flex-direction: inherit;
}

.search {
    flex-flow: inherit;
}

.box .banner-category {
    position: relative;
    text-align: center;
    color: white;
}

.box h3 {
    font-size: 40px;
}

.box:hover {
    color: #1a1a1a;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 1s;
}

.box img:hover {
    opacity: 0.3;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    background-color: rgba(26, 26, 26, 0.8);
    font-weight: bold;
    font-size: 80px;
    color: #FFF;
}

.subCateg-content {
    justify-content: center;
}

.subCateg {
    color: #1a1a1a;
}

.subCateg:hover {
    text-decoration: none;
}

.product-content {
    justify-content: center;
}

.card-product {
    border: none;
    border-radius: unset;
}

.card-product:hover {
    transform: scale(1.01);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition-duration: 0.5s;
}

.card-product-image {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.card-body-product {
    padding: unset;
}

.footer {
font-size: 12px;
}

.network a {
color: #FFF;
}

@media only screen and (min-width: 600px) {
    .main {
        min-height: calc(100vh - 86px - 86px);
        padding-top: 86px;
    }
    .logo {
        font-size: 40px;
    }
    .subCateg-content {
        justify-content: space-between;
    }
    .product-content {
        justify-content: unset;
    }
    .footer {
        flex-direction: inherit !important;
        justify-content: space-between !important;
    }
}

