body {
    font-family: 'Montserrat', sans-serif;
}

.main {
    min-height: calc(100vh - 63px - 150px);
    padding-top: 63px;
}

.nav-fix {
    position: fixed;
    width: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .03);
    z-index: 9000;
}

.logo {
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
}

.nav-user {
    flex-direction: inherit;
}

.search {
    flex-flow: inherit;
}

.carousel-caption {
    bottom: 15% !important;
    font-size: 60%;
}

.box {
    position: relative;
    text-align: center;
    color: white;
}

.box h3 {
    font-size: 40px;
    z-index: 1;
}

.box:hover {
    color: #1a1a1a;
    transition-duration: 1s;
}

.box img:hover {
    opacity: 0.3;
}

.banner-category {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    background-color: rgba(26, 26, 26, 0.8);
    font-weight: bold;
    color: #FFF;
}

.title {
    background-color: rgba(26, 26, 26, 0.8);
    font-weight: bold;
    color: #FFF;
}

.subCateg-content {
    justify-content: center;
}

.subCateg {
    color: #1a1a1a;
}

.subCateg:hover {
    text-decoration: none;
}

.product-content {
    justify-content: center;
}

.card-product {
    border: none;
    border-radius: unset;
}

.card-product:hover {
    transform: scale(1.01);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition-duration: 0.5s;
}

.card-product-image {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.card-body-product {
    padding: unset;
}

.card-detail {
    border: 1px solid black;
    border-radius: unset;
}

.credit-card {
    padding: 10px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.footer {
font-size: 12px;
}

.network a {
color: #FFF;
}

@media only screen and (min-width: 600px) {
    .main {
        min-height: calc(100vh - 86px - 30px);
        padding-top: 86px;
    }
    .logo {
        font-size: 40px;
    }
    .title {
        margin: 0 33%;
        padding: 0.3%;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FFF;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        width: 200px;
        padding: 5px 50px 5px 20px;
        color: #3f4549;

    }

    .dropdown-content a:hover {
        background-color: rgba(63, 69, 73, 0.1);
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .carousel-caption {
        bottom: 40% !important;
        font-size: 100%;
    }
    .centered {
        font-size: 80px;
    }
    .product-content {
        justify-content: unset;
    }
    .footer {
        flex-direction: inherit !important;
        justify-content: space-between !important;
    }
}

