{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <p>Merci pour votre commande un mail avec la facture vous a été envoyé ! </p>
    <a class="btn btn-dark mt-5" href="{{ path('home_index') }}">Retour à l'accueil</a>
</div>
{% endblock %}